<div class="container mt-4">
  <h2 class="mb-4">CeSDA - Centro Sperimentale per la Didattica dell'Astronomia - APS</h2>
  <div class="d-flex flex-column">
    <div class="mb-4">
      <h5>Social:</h5>
      <div class="d-flex flex-row gap-3">
        <a href="https://www.facebook.com/planetariodimodena" target="_blank">
          <img src="./assets/icons/logo-facebook.svg" alt="facebook logo">
        </a>
        <a href="https://twitter.com/planetario_mo" target="_blank">
          <img src="./assets/icons/logo-twitterx.svg" alt="twitter logo">
        </a>
        <a href="https://www.youtube.com/channel/UCDUGJarBtBY_HwgP941LL5Q" target="_blank">
          <img src="./assets/icons/logo-youtube.svg" alt="youtube logo">
        </a>
        <a href="https://www.instagram.com/planetariomodena/" target="_blank">
          <img src="./assets/icons/logo-instagram.svg" alt="instagram logo">
        </a>
        <a href="https://open.spotify.com/show/7N2AC4c61bvGVwBuPC2iVU?si=f9b6ab1f547e4dab" target="_blank">
          <img src="./assets/icons/logo-spotify.svg" alt="spotify logo">
        </a>
      </div>
    </div>
    <div class="mb-4">
      <h5>Contatti:</h5>
      <div class="d-flex flex-column">
        <label>Civico Planetario "F. Martino" di Modena</label>
        <label>Viale Jacopo Barozzi, 31</label>
        <label>41124 Modena, Italy</label>
        <label>Tel. 059/224726 - Fax: 059/8672230</label>
        <label><a href="mailto:info@planetariodimodena.it">info@planetariodimodena.it</a></label>
        <label>P.IVA: 01975930361</label>
      </div>
    </div>
    <div class="mb-4">
      <div class="d-flex flex-row gap-2">
        <h5>Segreteria:</h5>
        <label>(esclusi festivi)</label>
      </div>
      <div class="d-flex flex-column">
        <ul>
          <li><b>Martedì e Mercoledì:</b> 10:30 - 12:30</li>
          <li><b>Giovedì:</b> 10:30 - 12:30 e 14:00 - 16:00</li>
        </ul>
      </div>
    </div>
    <div class="mb-4">
    <h5>Come Raggiungerci:</h5>
    <div class="d-flex flex-column">
      <ul>
        <li>
          In auto:
          <ul>
            <li>Autostrada: uscita Modena Nord. Seguire le indicazioni per Sassuolo - Reggio Emilia.</li>
            <li>Tangenziale: uscita 16. Seguire la via Emilia Ovest.</li>
          </ul>
        </li>
        <li>
          In treno:
          <ul>
            <li>dalla Stazione FF.SS. prendere l'autobus n. 1  direzione "Villaggio Giardino"</li>
            <li>scendere alla fermata "Barozzi Planetario"</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
    <div class="mb-4">
      <h5>Scuole:</h5>
      <div class="d-flex flex-column">
        <label>Contattare telefonicamente la Segreteria negli orari sopra indicati.</label>
        <label>Solo per informazioni ed invio moduli (previo contatto telefonico): <a href="mailto:info@planetariodimodena.it">info@planetariodimodena.it</a></label>
      </div>
    </div>
  </div>
</div>
