img {
  max-width: 65px;
  cursor: pointer;
}

.menu-bar {
  background-color: #15324c;

  .menu-button {
    cursor: pointer;
    color: white;
    padding: 10px;
  }

  .menu-button:hover,
  .selected-button {
    border-bottom: 2px solid #0082c9;
    color: #0082c9;
  }
}
