@import "bootstrap";
$primary: #0082C9;
$secondary: #15324C;

h2 {
  color: #{$primary};
}

.list-item-card {
  border-width: 1px 3px 3px 1px;
  border-style: solid;
  border-color: #{$secondary} #{$primary} #{$primary} #{$secondary};
  border-radius: 5px;
}

.simple-card {
  border: 1px solid #15324c;
  border-radius: 5px;
}

.img-icon {
  width: 25px;
  &.pointer {
    cursor: pointer;
  }
}
